In [95]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import operator
from collections import Counter
from itertools import combinations

In [96]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1360,tt0382077,25000000,122644820,Hide and Seek,Robert De Niro|Dakota Fanning|Famke Janssen|El...,John Polson,"Come out, come out, whatever you are.",David Callaway tries to piece together his lif...,101,Horror|Mystery|Thriller,Twentieth Century Fox Film Corporation|Fox 200...,1/27/2005,6.2,2005
1743,tt0373883,15000000,80253908,Halloween,Malcolm McDowell|Brad Dourif|Daeg Faerch|Tyler...,Rob Zombie,Evil. Unmasked.,"After being committed for 17 years, Michael My...",109,Horror,Dimension Films|Spectacle Entertainment Group|...,8/31/2007,5.8,2007
966,tt0298744,7000000,2062066,Auto Focus,Greg Kinnear|Willem Dafoe|Rita Wilson|Maria Be...,Paul Schrader,A day without sex is a day wasted.,"A successful TV star during the 1960s, former ...",104,Drama|Crime,Sony Pictures Classics|Propaganda Films|Good M...,10/18/2002,5.9,2002
354,tt0986263,80000000,122444772,Surrogates,Bruce Willis|Radha Mitchell|Rosamund Pike|Jame...,Jonathan Mostow,How do you save humanity when the only thing t...,Set in a futuristic world where humans live in...,89,Action|Science Fiction|Thriller,Touchstone Pictures|Mandeville Films|Wintergre...,9/24/2009,5.7,2009
451,tt1322312,32000000,42045846,Going the Distance,Drew Barrymore|Justin Long|Christina Applegate...,Nanette Burstein,A comedy about meeting each other halfway.,Erin and Garrett are very much in love. When E...,102,Comedy|Drama|Romance,New Line Cinema|Offspring Entertainment,9/1/2010,6.0,2010

In [97]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [98]:
answers = {}  # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# код получения столбца profit выносим в Предобработку

data['profit'] = data.revenue.apply(lambda s: s)
# рассчитываем разницу между сборами и бюджетом
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [99]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример:
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723    Pirates of the Caribbean: On Stranger Tides'  # +
# если ответили верно, можете добавить комментарий со значком "+"

In [100]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data.query('budget==' + str(data.budget.max()))
max_budget['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [101]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать
answers['2'] = '1157    Gods and Generals'  # +

In [102]:
max_runtime = data.query('runtime==' + str(data.runtime.max()))
max_runtime['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [103]:
answers['3'] = '768    Winnie the Pooh'  # +

min_runtime = data.query('runtime==' + str(data.runtime.min()))
min_runtime['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [104]:
answers['4'] = 109.6585494970884  # + (с округлением 110)

mean_runtime = data.runtime.mean()
mean_runtime

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [105]:
answers['5'] = 107.0  # +

median_runtime = data.runtime.median()
median_runtime

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [106]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# код получение столбца profit  вынесен в Предобработку
answers['6'] = '239    Avatar'  # +

max_profit = data.query('profit==' + str(data.profit.max()))
max_profit['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [107]:
answers['7'] = '1245    The Lone Ranger'  # +

min_profit = data.query('profit==' + str(data.profit.min()))
min_profit['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [108]:
answers['8'] = 1478  # +

profit_plus = data.query('profit>0')
profit_plus.count()['original_title']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [109]:
answers['9'] = '599    The Dark Knight'  # +

data2008 = data.query('release_year==2008')
max_revenue_2008 = data2008.query('revenue==' + str(data2008.revenue.max()))
max_revenue_2008['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [110]:
answers['10'] = '1245    The Lone Ranger'  # +

data2012_2014 = data.query('release_year>=2012 & release_year<=2014')
min_profit_2012_2014 = data2012_2014.query('profit==' +
                                           str(data2012_2014.profit.min()))
min_profit_2012_2014['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [111]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama    782'

genres = pd.DataFrame(
    data.genres.str.split('|').tolist()).stack().value_counts().head(1)
genres

Drama    782
dtype: int64

ВАРИАНТ 2

In [112]:
genres = pd.DataFrame(data.genres.str.split('|'))
# получаем все уникальные значения жанров
uniq_genres = []

for i in range(genres.count()[0]):
    current_seria = genres['genres'][i]
    lenght_current_seria = len(current_seria)
    for s in range(lenght_current_seria):
        if current_seria[s] in uniq_genres:
            continue
        else:
            uniq_genres.append(current_seria[s])

# создаем словарь voc_genres: жанр, количество в дата сете
voc_genres = {}

# длина списка жанров
lenght_uniq_genres = len(uniq_genres)

#  в цикле:
for i in range(lenght_uniq_genres):
    column_name = uniq_genres[i]
    # создаём и заполняем колонки с жанрами
    data[column_name] = data.genres.apply(lambda s: 1
                                          if column_name in s else 0)
    # подсчитываем и заполняем словарь voc_genres
    voc_genres[column_name] = data[column_name].sum()
# получаем ключ словаря с максимальным значением
max_key = max(voc_genres, key=lambda k: voc_genres[k])

# выводим полученные данные
print(max_key, voc_genres[max_key])

# можно было сделать всё в одном цикле, но тогда код был бы менее понятен

Drama 782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [113]:
answers['12'] = 'Drama    560' # +

# отбор с прибылью больше нуля
profit_plus = data.query('profit>0')

# преобразование списка genres и подсчет
genres = pd.DataFrame(
    profit_plus.genres.str.split('|').tolist()).stack().value_counts().head(1)
genres

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [114]:
answers['13'] = 'Peter Jackson'  # +

grouped_df = data.groupby(['director']).sum()

max_revenue = grouped_df.revenue.max()
max_revenue_director = grouped_df.query('revenue==' + str(max_revenue))
s = max_revenue_director.index
s[0]

'Peter Jackson'

In [115]:
# 2 вариант 13 вопрос через Counter()

count = Counter()
for i in range(0, len(data)):
    for k in data.iloc[i]['director'].split('|'):
        count[k] += data.iloc[i]['revenue']

sorted_actors_revenue = sorted(count.items(),
                               key=operator.itemgetter(1),
                               reverse=True)
sorted_actors_revenue[0]

('Peter Jackson', 6490593685)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [116]:
# через Counter()

answers['14'] = 'Robert Rodriguez'  # +

count = Counter()
for i in range(0, len(data)):
    for k in data.iloc[i]['director'].split('|'):
        count[k] += data.iloc[i]['Action']

sorted_actors_revenue = sorted(count.items(),
                               key=operator.itemgetter(1),
                               reverse=True)
sorted_actors_revenue[0]

('Robert Rodriguez', 9)

In [117]:
# проверка правильности 14 задания с ответом ('Robert Rodriguez', 9)
d_Robert_Rodriguez = data[data.director.str.contains("Robert Rodriguez",
                                                     na=False)]
d_Robert_Rodriguez_Action = d_Robert_Rodriguez.query('Action==1')
len(d_Robert_Rodriguez_Action)

9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [118]:
answers['15'] = 'Chris Hemsworth'  # +

data_2012 = data.query('release_year==2012')

count = Counter()
for i in range(0, len(data_2012)):
    for k in data_2012.iloc[i]['cast'].split('|'):
        count[k] += data_2012.iloc[i]['revenue']

sorted_actors_revenue = sorted(count.items(),
                               key=operator.itemgetter(1),
                               reverse=True)
sorted_actors_revenue[0][0]

'Chris Hemsworth'

In [119]:
# 2 вариант 15 задание

# получаем выборку за 2012 год
data_2012 = data.query('release_year==2012')

# получаем датафрейм сумма кассового сбора и список актеров с этой суммой
actors_revenue = pd.DataFrame(
    data_2012.cast.str.split('|').tolist(), data_2012.revenue)

# получаем серии из датафрейма actors
actors_revenue_stack = actors_revenue.stack()

''' создаем словарь voc_actors_revenue и в цикле обхода по сериям 
    подсчитываем сумму кассовых сборов по каждому актеру'''
voc_actors_revenue = {}
for i in actors_revenue_stack.index:

    if actors_revenue_stack[i] in voc_actors_revenue:

        voc_actors_revenue[actors_revenue_stack[i]] += i[0]
    else:
        voc_actors_revenue[actors_revenue_stack[i]] = i[0]
voc_actors_revenue
type(actors_revenue_stack)

# получаем отсортированный список актеров по убыванию кассовых сборов
sorted_actors_revenue = sorted(voc_actors_revenue.items(),
                               key=operator.itemgetter(1),
                               reverse=True)

# получаем актера с максимальной суммой кассовых сборов
actors_with_max_revenue = sorted_actors_revenue[0][0]
actors_with_max_revenue

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [120]:
answers['16'] = 'Matt Damon'  # +

# определяем границы бюджета высокобюджетных фильмов
data_describe = data.describe()
low = data_describe['budget']['mean']
high = data_describe['budget']['max']

# делаем запрос
data_high_budget = data.query('budget>=' + str(low) + ' & budget<='
                               + str(high))

# считаем
count = Counter()
for i in range(0, len(data_high_budget)):
    for k in data_high_budget.iloc[i]['cast'].split('|'):
        count[k] += 1

# сортируем по убыванию и получаем первую запись
sorted_actors = sorted(count.items(), key=operator.itemgetter(1), reverse=True)
sorted_actors[0][0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [121]:
answers['17'] = 'Action'  # +

# отбираем датасет по Nicolas Cage
data_Nicolas_Cage = data[data.cast.str.match("Nicolas Cage", na=False)]

# подсчитываем жанры фильмов
count = Counter()
for i in range(0, len(data_Nicolas_Cage)):
    for k in data_Nicolas_Cage.iloc[i]['genres'].split('|'):
        count[k] += 1
count
sorted_genres = sorted(count.items(), key=operator.itemgetter(1), reverse=True)
sorted_genres[0][0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [122]:
answers['18'] = '925    K-19: The Widowmaker'  # +

# отбираем датасет по Paramount Pictures
data_Paramount_Pictures = data[data.production_companies.str.contains(
    "Paramount Pictures", na=False)]

min_profit = data_Paramount_Pictures.query(
    'profit==' + str(data_Paramount_Pictures.profit.min()))
min_profit['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [123]:
answers['19'] = '2015'  # +

# data - группируем по годам и получаем общую сумму
grouped_df = data.groupby(['release_year']).sum()

max_revenue = grouped_df.revenue.max()
max_revenue_release_year = grouped_df.query('revenue==' + str(max_revenue))

s = max_revenue_release_year.index
s[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [124]:
answers['20'] = '2014'  # +

# отбираем датасет по Paramount Pictures
data_Warner_Bros = data[data.production_companies.str.contains("Warner Bros",
                                                               na=False)]

grouped_df = data_Warner_Bros.groupby(['release_year']).sum()

max_profit = grouped_df.profit.max()
max_profit_release_year = grouped_df.query('profit==' + str(max_profit))

s = max_profit_release_year.index
s[0]

2014

In [125]:
# 2 вариант задание 20

# второй вариант
data_Warner_Bros = data[data.production_companies.str.contains("Warner Bros",
                                                               na=False)]
grouped_df = data_Warner_Bros.groupby(['release_year']).sum()

grouped_df_sort = grouped_df.sort_values('profit', ascending=False)
grouped_df_sort.head(1)

s = grouped_df_sort.index
s[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [126]:
answers['21'] = '9'  # + (Сентябрь)

# разделяем дату, первое значение месяц, считаем только по месяцам
count = Counter()
for i in range(0, len(data)):
    for k in data.iloc[i]['release_date'].split('/'):
        count[k] += 1
        break

sorted_actors = sorted(count.items(), key=operator.itemgetter(1), reverse=True)
sorted_actors[0][0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [127]:
answers['22'] = '450'  # +

# разделяем дату, первое значение месяц, считаем только по месяцам
total = 0
for i in range(0, len(data)):
    for k in data.iloc[i]['release_date'].split('/'):
        if k == '6' or k == '7' or k == '8':
            total += 1
        break
total

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [128]:
answers['23'] = 'Peter Jackson'  # +

#data.iloc[0].release_date.split('/')[0] # проверка что получим нужные данные
# создаём новую колонку и заполняем её
data['winter'] = data.release_date.apply(lambda s: 1 
                                         if s.split('/')[0] == '12'
                                         or s.split('/')[0] == '1' 
                                         or s.split('/')[0] == '2' 
                                         else 0)
data_winter = data.query('winter==1')

count = Counter()
for i in range(0, len(data_winter)):
    for k in data_winter.iloc[i]['director'].split('|'):
        count[k] += 1
count
sorted_genres = sorted(count.items(), key=operator.itemgetter(1), reverse=True)
sorted_genres[0][0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [129]:
# + (Four By Two Productions)
answers['24'] = 'Twentieth Century Fox Film Corporation\
                 |Four By Two Productions'

data['long_original_title'] = data.original_title.apply(lambda s: len(s))

max_long = data.long_original_title.max()
max_long_record = data.query('long_original_title==' + str(max_long))

s = max_long_record.index
s[0]

max_long_record.iloc[0]['production_companies']

'Twentieth Century Fox Film Corporation|Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [130]:
# + (Midnight Picture Show)
answers['25'] = 'Lions Gate Films|Lakeshore Entertainment\
                |GreeneStreet Films|Midnight Picture Show'

#  добавляем колонку и рассчитываем значение длины
data['long_overview'] = data.overview.apply(lambda s: len(s))
mean_long_overview = data.long_overview.mean()
mean_long_overview

# получаем все средние значения
grouped_df = data.groupby(['production_companies']).mean()
grouped_df

# находим самую длинную среди средних
max_long_overview = grouped_df.long_overview.max()
max_long_overview = grouped_df.query('long_overview==' 
                                     + str(max_long_overview))
s = max_long_overview.index
s[0]

'Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [131]:
answers['26'] = 'Inside Out|Room|Interstellar|Guardians of the Galaxy\
                |The Imitation Game|Gone Girl|The Grand Budapest Hotel\
                |Inception|The Dark Knight|The Pianist\
                |The Lord of the Rings: The Return of the King\
                |The Wolf of Wall Street|12 Years a Slave|Memento'

data_one = data[data['vote_average'] > data.quantile(0.99, numeric_only=True)
                ['vote_average']]

# просматриваем данные в виде списка
# data_one['original_title']

# преобразуем в текст для ответа
films_one = ''

for i in range(len(data_one['original_title'])):
    if len(films_one) == 0:
        films_one = str(data_one.iloc[i].original_title)
    else:
        films_one += '|' + str(data_one.iloc[i].original_title)
    films_one
films_one

'Inside Out|Room|Interstellar|Guardians of the Galaxy|The Imitation Game|Gone Girl|The Grand Budapest Hotel|Inception|The Dark Knight|The Pianist|The Lord of the Rings: The Return of the King|The Wolf of Wall Street|12 Years a Slave|Memento'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [132]:
# Daniel Radcliffe & Rupert Grint
answers['27'] = "(('Daniel Radcliffe', 'Emma Watson'), 8)\
                 (('Daniel Radcliffe', 'Rupert Grint'), 8)\
                 (('Emma Watson', 'Rupert Grint'), 8)\
                 (('Ben Stiller', 'Owen Wilson'), 6)\
                 (('Helena Bonham Carter', 'Johnny Depp'), 6)"

# s.split('|') - разделяем актеров
# sorted - сортируем чтобы пары создавались всегда в одном порядке
# combinations - создаем пары
# list - перобразуем в список пар всех актеров
# записываем в новую колонку couples

data['couples'] = data.cast.apply(
    lambda s: list(combinations(sorted(s.split('|')), 2)))

# считаем совпадение пар по всем фильмам
count = Counter()
for i in range(0, len(data)):
    for k in data.iloc[i]['couples']:
        count[k] += 1

# сортируем по убыванию
sorted_couples = sorted(count.items(),
                        key=operator.itemgetter(1),
                        reverse=True)

# получаем первые 5 значений
first_5 = sorted_couples[0:5]

# формируем текст для вывода в ответ
max_couples = ''
for i in range(5):
    max_couples += str(first_5[i])

print(max_couples)

(('Daniel Radcliffe', 'Emma Watson'), 8)(('Daniel Radcliffe', 'Rupert Grint'), 8)(('Emma Watson', 'Rupert Grint'), 8)(('Ben Stiller', 'Owen Wilson'), 6)(('Helena Bonham Carter', 'Johnny Depp'), 6)

# Submission

In [133]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': 1478,
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': 'Drama    782',
 '12': 'Drama    560',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925    K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Twentieth Century Fox Film Corporation                 |Four By Two Productions',
 '25': 'Lions Gate Films|Lakeshore Entertainment                |GreeneStreet Films|Midnight Picture Show',
 '26': 'Inside Out|Room|Interstellar|Guardians of the Galaxy                |The Imitation Game|Gone Girl|The Grand Budapest Hotel                |Inception|The Dark Knight|The Pianist                |The Lord of the Rings: The Return of the King                |The Wolf of Wall Street|12 Years a Slave|Memento',
 '27': "(('Daniel Radcliffe', 'Emma Watson'), 8)                 (('Daniel Radcliffe', 'Rupert Grint'), 8)                 (('Emma Watson', 'Rupert Grint'), 8)                 (('Ben Stiller', 'Owen Wilson'), 6)                 (('Helena Bonham Carter', 'Johnny Depp'), 6)"}

In [134]:
# и убедиться что ни чего не пропустил)
len(answers)

27